.wrap_mcg_1 {
 	width:auto;
    min-width:92%;
    background:white;
    margin-top: 15px;
    margin-bottom:0px;
    padding:10px;
    float: center;
    display: inline-block;
    overflow:hidden;
    position: relative;
}

.wrap_mcg_2 {
    width:50%;
    background:white;
   // margin-left: 20px;
    margin-bottom: 20px;
    padding:10px;
    float: left;
    display: inline-block;
    overflow:hidden;
    position: relative;
}

.wrap_mcg_3 {
    width:33.33%;
    background:white;
    //margin-left: 20px;
    //margin-left:1%;
    //margin-right:1%;
    margin-bottom: 20px;
    padding:10px;
    float: left;
    display: inline-block;
    overflow:hidden;
    position: relative;
}


.wrap_mcg_4 {
    width:25%;
    background:white;
    //margin-left: 20px;
    margin-bottom: 20px;
    padding:10px;
    float: left;
    display: inline-block;
    overflow:hidden;
    position: relative;
}

.wrap_mcg_5 {
    width:20%;
    background:white;
  //      margin-left: 20px;
    margin-bottom: 20px;
    padding:10px;
    float: left;
    display: inline-block;
    overflow:hidden;
    position: relative;
}


.wrap_mcg_6 {
    width:16.66%;
    background:white;
   // margin-left: 20px;
    margin-bottom: 20px;
    padding:10px;
    float: left;
    display: inline-block;
    overflow:hidden;
    position: relative;
}

.wrap_mcg img {
	padding-bottom:5px;
	padding-top:2px;
	margin-right: 10px;
     max-width: 100%;
     height: auto;
}

.wrap_mcg p {
    text-align:center;
    margin: 0;
    overflow: hidden;
}


@media screen and (max-width: 1100px) {
	.wrap_mcg_1    { margin:12px; width: 95%;}
	.wrap_mcg_2    { margin:15px; width: 46.15%;}
	.wrap_mcg_3    { margin:9px; width: 30.5%; }
	.wrap_mcg_4    { margin:9px; width: 22.75%;	}
	.wrap_mcg_5    { margin:9px; width: 17.75%;	}
	.wrap_mcg_6    { margin:12px; width: 14.25%;	}

}


@media screen and (max-width: 900px) {
	.wrap_mcg_1    { margin:12px; width: 95%;}
	.wrap_mcg_2    { margin:12px; width: 45%;}
	.wrap_mcg_3    { margin:9px; width: 29.95%; }
	.wrap_mcg_4    { margin:9px; width: 21.75%;	}
	.wrap_mcg_5    { margin:9px; width: 16.75%;	}
	.wrap_mcg_6    { margin:9px; width: 13.5%;	}

}


@media screen and (max-width: 670px) {
	.wrap_mcg_1    { margin:9px; width: 95%;}
	.wrap_mcg_2    { margin:9px; width: 44.5%;}
	.wrap_mcg_3    { margin:10px; width: 44.5%; }
	.wrap_mcg_4    { margin:7px; width: 44.75%;}
	.wrap_mcg_5    { margin:10px; width: 44.75%;	}
	.wrap_mcg_6    { margin:10px; width: 44.75%;	}


}






@media screen and (max-width: 480px) {

	.wrap_mcg_2  { margin:5px; width: 46%;}
	.wrap_mcg_3  { margin:5px; width: 46%; }
	.wrap_mcg_4  { margin:6px; width: 44.70%; }
	.wrap_mcg_5  { margin:7px; width: 44.35%;	}
	.wrap_mcg_6  { margin:7px; width: 44.55%;	}


}



@media screen and (max-width: 320px) {
	.wrap_mcg_6 {margin:7px; width: 94.25%;	}
	.wrap_mcg_5 {margin:7px; width: 93.75%;	}
	.wrap_mcg_4 {margin:7px; width: 90.5%;}
	.wrap_mcg_3 {margin:7px; width: 94.5%;}
	.wrap_mcg_2 {margin:5px; width: 96%;}
	.wrap_mcg_1 {margin:7px; width: 97.5%;}
   

}


