.wrap_text_mcg_1{
    width:100%;
    height:145px;
    background:white;
    margin: 0px;
    margin-bottom: 5px;
    padding:7px;
    float: left;
    display: inline-block;
    //border-top:1px solid #ddd; 
    overflow:hidden;
}

.wrap_text_mcg_2{
    width:50%;
    height:115px;
    background:white;
    margin: 0px;
    margin-bottom: 15px;
    padding:7px;
    float: left;
    display: inline-block;
    overflow:hidden;
}

.wrap_text_mcg_3{
    width:33.3%;
    height:150px;
    background:white;
    margin: 0px;
    margin-bottom: 15px;
    padding:7px;
    float: left;
    display: inline-block;
    overflow:hidden;
}

.wrap_text_mcg_4{
    width:25%;
    height:180px;
    background:white;
    margin: 0px;
    margin-bottom: 15px;
    padding:7px;
    float: left;
    display: inline-block;
    overflow:hidden;
}

.wrap_text_mcg_5{
    width:20%;
    height:230px;
    background:white;
    margin: 0px;
    margin-bottom: 15px;
    padding:7px;
    float: left;
    display: inline-block;
    overflow:hidden;
}

.wrap_text_mcg_6{
    width:16.6%;
    height:270px;
    background:white;
    margin: 0px;
    margin-bottom: 15px;
    padding:7px;
	//border-right:1px solid #ddd;
    float: left;
    display: inline-block;
    overflow:hidden;
}


.wrap_text_mcg p {
    text-align:center;
    margin: 0;
    overflow: hidden;
}

/*
@media screen and (max-width: 1100px) {
	.wrap_text_mcg_2		{ width:50%;    height:110px;}
	.wrap_text_mcg_3		{ width:33.3%;  height:160px;}
	.wrap_text_mcg_4		{ width:25%;    height:180px;}
	.wrap_text_mcg_5		{ width:20%;    height:230px;}
	.wrap_text_mcg_6		{ width:12.5%;  height:255px;}

}
*/

@media screen and (max-width: 768px) {
	.wrap_text_mcg_2		{ width:50%; height:100px;}
	.wrap_text_mcg_3		{ width:33.3%; height:150px;}
	.wrap_text_mcg_4		{ width:25%; height:180px;}
	.wrap_text_mcg_5		{ width:20%; height:230px;}
	.wrap_text_mcg_6		{ width:12.5%; height:255px;}

}


@media screen and (max-width: 670px) {
	.wrap_text_mcg_2		{width:50%;  height:160px; border-top:0px solid #f3f3f3;}
	.wrap_text_mcg_3		{width:100%; height:100px; border-top:1px solid #f3f3f3;}
	.wrap_text_mcg_4		{width:50%;	 height:160px;border-top:0px solid #f3f3f3;}
	.wrap_text_mcg_5		{width:100%; height:100px; border-top:1px solid #f3f3f3;}
	.wrap_text_mcg_6		{width:50%;	 height:160px;border-top:0px solid #f3f3f3;  }

}






@media screen and (max-width: 480px) {

	.wrap_text_mcg_1{width:100%; height:110px; border-top:1px solid #f3f3f3; }

	.wrap_text_mcg_2{width:50%;	 height:160px; border-top:0px solid #f3f3f3; }

	.wrap_text_mcg_3{width:100%; height:110px; border-top:1px solid #f3f3f3; }

	.wrap_text_mcg_4{width:50%;	 height:160px; border-top:0px solid #f3f3f3; }

	.wrap_text_mcg_5{width:100%; height:110px; border-top:1px solid #f3f3f3; }
	
	.wrap_text_mcg_6{width:50%;	 height:160px;border-top:0px solid #f3f3f3;  }
}



@media screen and (max-width: 320px) {

    .wrap_text_mcg_1{width:100%;	 height:120px; border-top:1px solid #f3f3f3; }

	.wrap_text_mcg_2{width:100%;	 height:120px; border-top:1px solid #f3f3f3; }

	.wrap_text_mcg_3{width:100%;	 height:120px; border-top:1px solid #f3f3f3; }

	.wrap_text_mcg_4{width:100%;	 height:120px; border-top:1px solid #f3f3f3; }

	.wrap_text_mcg_5{width:100%;	 height:120px; border-top:1px solid #f3f3f3; }
	.wrap_text_mcg_6{width:100%;	 height:120px;border-top:1px solid #f3f3f3;  }

}