.mycbgenie-ads-wrapper a{ text-decoration:none; box-shadow: none!important;}
.mycbgenie-ads-head{ line-height: 27px; margin: 0px -1px 0px 0px; padding: 0; background:transparent; text-align:right; box-sizing:none; }
.mycbgenie-ads-head .mycbgenie-ads-head-title{ padding:9px 12px 6px 15px; line-height: 27px; font-size:11px; color:#888888; border-top:1px #eeeeee solid; text-transform:uppercase; }
.mycbgenie-ads1 li{ float:left;list-style:none; }
.mycbgenie-ads2 li{ float:left;list-style:none;/*width:150px!important;*/ }
.mycbgenie-ads3 li{ list-style:none; }
.mycbgenie-ads4 li{ list-style:none; }
.mycbgenie-ads-clear{ clear:both; }
.mycbgenie-ads-hr{ background-color: #eeeeee; border: 0 none; height: 1px; margin:10px 10px 20px 10px; clear:both; }

.mycbgenie-ads1 p{ padding-bottom:1px; margin-bottom:0px }
.mycbgenie-ads1 .mycbgenie-ads_container{ width:inherit; display:block; max-width:150px; padding:10px 0px 10px 0px; margin:1px auto; }
.mycbgenie-ads1 .mycbgenie-ads_container img{ padding:2px; border:#EEEEEE 1px solid; background:#FFFFFF; }
.mycbgenie-ads1 .mycbgenie-ads_container .mycbgenie-ads_title{ font-size:13px; padding:2px; padding-left:4px; line-height:18px; font-weight:normal; }
.mycbgenie-ads1 .mycbgenie-ads_container .mycbgenie-ads_title a{ text-decoration:none; }
.mycbgenie-ads1 .mycbgenie-ads_container .mycbgenie-ads_count{ font-size:12px; padding:2px; padding-left:4px; line-height:16px; font-weight:normal; color:#777777; }
.mycbgenie-ads1 .mycbgenie-ads_container .mycbgenie-ads_price_range{ padding:2px; padding-left:4px; font-size:14px; color:#009966; line-height:20px; font-weight:normal; }

.mycbgenie-ads2 p{ padding-bottom:1px; margin-bottom:0px }
.mycbgenie-ads2 .mycbgenie-ads_col{ margin:0px auto; width:134px; clear:both; display:block; padding-top:10px; }
.mycbgenie-ads2 .mycbgenie-ads_container{ width:inherit; height:175px; display:inline-block; padding:2px; margin:0px; }
.mycbgenie-ads2 .mycbgenie-ads_container img{ padding:2px; border:#EEEEEE 1px solid; background:#FFFFFF; }
.mycbgenie-ads2 .mycbgenie-ads_container .mycbgenie-ads_title{ font-size:13px; padding:2px; padding-left:4px; line-height:18px; font-weight:normal; }
.mycbgenie-ads2 .mycbgenie-ads_container .mycbgenie-ads_title a{ text-decoration:none; }

.mycbgenie-ads_container:not(:last-of-type){
	margin-right:22px;
}

.mycbgenie-ads3 { background:white; }
.mycbgenie-ads4 { background:red; }



